{% extends 'base-front.html.twig' %}

{% block subtitle %}Accueil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('front') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('front') }}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="wrapper">
        <div class="page-header">
            <div class="content-center">
                <div class="row row-grid justify-content-between align-items-center text-left">
                    <div class="col-lg-6 col-md-6">
                        <h1 class="text-white">Nash

                        </h1>
                        <p class="text-white mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas mi vel erat placerat, a pretium nunc venenatis. Ut massa lorem, facilisis eu lorem dignissim, dictum pulvinar est. Nunc cursus dolor quis nibh lobortis blandit. Ut volutpat suscipit hendrerit. Proin dignissim nunc tortor, eget fringilla nisl lacinia id. Nulla mattis iaculis diam, quis pellentesque tellus porta consectetur. In hac habitasse platea dictumst. Nulla id mi nec nisl tincidunt tincidunt. Vestibulum vel enim placerat velit malesuada efficitur. Praesent vel posuere ipsum. Cras elementum a diam non hendrerit. Nullam ut nunc eget sem tempus vestibulum ac sed enim. Quisque ornare massa ligula, sit amet consequat felis fermentum id. Morbi justo purus, imperdiet id rutrum ac, sodales sit amet lacus.</p>

                    </div>
                    <div class="col-lg-4 col-md-5">
                        <img src="{{ asset('build/images/public_img/party.png') }}" alt="Circle image" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <div class="page-header">
            <div class="content-center">
                <div class="row row-grid justify-content-between align-items-center text-left">
                    <div class="col-lg-4 col-md-5">
                        <img src="{{ asset('build/images/public_img/party.png') }}" alt="Circle image" class="img-fluid">
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <h1 class="text-white">THEO
                        </h1>
                        <p class="text-white mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas mi vel erat placerat, a pretium nunc venenatis. Ut massa lorem, facilisis eu lorem dignissim, dictum pulvinar est. Nunc cursus dolor quis nibh lobortis blandit. Ut volutpat suscipit hendrerit. Proin dignissim nunc tortor, eget fringilla nisl lacinia id. Nulla mattis iaculis diam, quis pellentesque tellus porta consectetur. In hac habitasse platea dictumst. Nulla id mi nec nisl tincidunt tincidunt. Vestibulum vel enim placerat velit malesuada efficitur. Praesent vel posuere ipsum. Cras elementum a diam non hendrerit. Nullam ut nunc eget sem tempus vestibulum ac sed enim. Quisque ornare massa ligula, sit amet consequat felis fermentum id. Morbi justo purus, imperdiet id rutrum ac, sodales sit amet lacus.</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="page-header">
            <div class="content-center">
                <div class="row row-grid justify-content-between align-items-center text-left">
                    <div class="col-lg-6 col-md-6">
                        <h1 class="text-white">Guigui

                        </h1>
                        <p class="text-white mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas mi vel erat placerat, a pretium nunc venenatis. Ut massa lorem, facilisis eu lorem dignissim, dictum pulvinar est. Nunc cursus dolor quis nibh lobortis blandit. Ut volutpat suscipit hendrerit. Proin dignissim nunc tortor, eget fringilla nisl lacinia id. Nulla mattis iaculis diam, quis pellentesque tellus porta consectetur. In hac habitasse platea dictumst. Nulla id mi nec nisl tincidunt tincidunt. Vestibulum vel enim placerat velit malesuada efficitur. Praesent vel posuere ipsum. Cras elementum a diam non hendrerit. Nullam ut nunc eget sem tempus vestibulum ac sed enim. Quisque ornare massa ligula, sit amet consequat felis fermentum id. Morbi justo purus, imperdiet id rutrum ac, sodales sit amet lacus.</p>

                    </div>
                    <div class="col-lg-4 col-md-5">
                        <img src="{{ asset('build/images/public_img/party.png') }}" alt="Circle image" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <div class="page-header">
            <div class="content-center">
                <div class="row row-grid justify-content-between align-items-center text-left">
                    <div class="col-lg-4 col-md-5">
                        <img src="{{ asset('build/images/public_img/party.png') }}" alt="Circle image" class="img-fluid">
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <h1 class="text-white">THEO GU

                        </h1>
                        <p class="text-white mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas mi vel erat placerat, a pretium nunc venenatis. Ut massa lorem, facilisis eu lorem dignissim, dictum pulvinar est. Nunc cursus dolor quis nibh lobortis blandit. Ut volutpat suscipit hendrerit. Proin dignissim nunc tortor, eget fringilla nisl lacinia id. Nulla mattis iaculis diam, quis pellentesque tellus porta consectetur. In hac habitasse platea dictumst. Nulla id mi nec nisl tincidunt tincidunt. Vestibulum vel enim placerat velit malesuada efficitur. Praesent vel posuere ipsum. Cras elementum a diam non hendrerit. Nullam ut nunc eget sem tempus vestibulum ac sed enim. Quisque ornare massa ligula, sit amet consequat felis fermentum id. Morbi justo purus, imperdiet id rutrum ac, sodales sit amet lacus.</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="page-header">
            <div class="content-center">
                <div class="row row-grid justify-content-between align-items-center text-left">
                    <div class="col-lg-6 col-md-6">
                        <h1 class="text-white">JUJU

                        </h1>
                        <p class="text-white mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas mi vel erat placerat, a pretium nunc venenatis. Ut massa lorem, facilisis eu lorem dignissim, dictum pulvinar est. Nunc cursus dolor quis nibh lobortis blandit. Ut volutpat suscipit hendrerit. Proin dignissim nunc tortor, eget fringilla nisl lacinia id. Nulla mattis iaculis diam, quis pellentesque tellus porta consectetur. In hac habitasse platea dictumst. Nulla id mi nec nisl tincidunt tincidunt. Vestibulum vel enim placerat velit malesuada efficitur. Praesent vel posuere ipsum. Cras elementum a diam non hendrerit. Nullam ut nunc eget sem tempus vestibulum ac sed enim. Quisque ornare massa ligula, sit amet consequat felis fermentum id. Morbi justo purus, imperdiet id rutrum ac, sodales sit amet lacus.</p>

                    </div>
                    <div class="col-lg-4 col-md-5">
                        <img src="{{ asset('build/images/public_img/party.png') }}" alt="Circle image" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
